<div class="container-fluid" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <!-- Line Chart -->
                    <mat-card class="card mb-4 custom-card">
                        <mat-card-content>
                            <app-graphs></app-graphs>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <!-- Existing Card -->
            <mat-card class="card custom-card">
                <mat-card-content class="scrollable-content">
                    <app-transactions></app-transactions>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
